.navbar {
  text-align: center;
  position: fixed;
  text-align: center;
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  top: 0;
  width: 100%;
  z-index: 999;
  padding: 10px 25px;
  background-color: rgb(255, 240, 247);
  box-shadow: 0 2px 30px rgba(0,0,0,0.1);
  display: flex;
  height :55px ;
  left: 0;
  right: 0;
 
  justify-content: space-between; 
  align-items: center;
}

.mode-images {
display: flex;
flex-direction: column; 
align-items: center; 
gap: 10px; 
}

.mode-images img {
width: 20px;
height: 20px;
transition: transform 0.3s ease;
margin-right: 10px; 
}


.nav-home {
  display: flex;
  align-items: center;
}

.home-icon {
  margin-right: 8px; 
  width: 24px; 
  height: 24px; 
}

.brand-name {
  font-family: 'Open Sans', 'Helvetica Neue';
  font-size: 24px;
  font-weight: bold; 
  margin-left: -70px; 
  text-decoration: none;
  

}

.nav-logo {
  width: 40px; 
  height: 40px;
}

.nav-home {
  width: 100%;
  margin-left: 50px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 16px;
}

.nav-home img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  vertical-align: middle;
}

.nav-wrapper {
  width: 100%;
  max-width: 1500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; 
  padding: 0 20px; 
 
}

.nav-left, .nav-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
}

.nav-left {
  margin-bottom: 10px;
}



.nav-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 16px;
  font-family: 'Arial', sans-serif;
}

.nav-item img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  vertical-align: middle;
}



.nav-photo {
width: 60px;  
height: 60px;
margin-right: 10px;
vertical-align: middle;
}

.nav-photo:last-of-type {
width: 30px;  
height: 30px;
}
.product-name {
    color: rgba(0, 0, 0, 0.977);
    font-family :'Times New Roman', Times, serif;
    text-align : right ;
    font-size: 60px;
    position :relative;
   left : 830px ;
    bottom : -10px;
    cursor : pointer ;
    margin-top: 100px;
    margin-bottom: 100px;
    } 
    
    .image-container {
        box-sizing: border-box;
        width :400px;
        height :500px;
        align-items: center;
        display: flex;
        flex-direction: column;
        border : 3px solid  rgb(211, 147, 192);
        border-radius: 20px; 
       margin-top: -400px;
        box-shadow : 0 4px 8px 11px rgb(240, 210, 224);  
        overflow: visible; 
        background-color: rgb(248, 243, 243);
        justify-content: flex-start;
      
          margin-inline-start:  60px;
        } 


        .custom-image {
            width: 80%;
            height: 80%;
            object-fit  :fill;
            margin: 0 auto;
       
            
            }
            
            .custom-image:hover {
            transform: scale(1.05); 
            transition: transform 0.3s ease; 
            cursor: pointer;
            } 
            .gallary
            {
            display: flex;
            justify-content: flex-start;
            padding-left: 30px;
            gap: 50px;
              position: relative;
            } 
            .gallary img
            {
            width: 200px;
            height: 200px; 
            border-radius: 15px;
          
            background-color: rgb(248, 243, 243);
            cursor: pointer;
            position :relative;
           margin-left: 30px;
            margin-top: 80px;
            }
            .gallary :hover  {
              transform: scale(1.05) ;
            transform: rotate3d(0,1,0,30deg); 
            transition: transform 0.3s ease;  }
            .product-details {
                font-size: 25px;
                padding: 15px;
                background-color: rgb(248, 243, 243);
                border-radius: 10px;
                text-align: center;
                transition: all 0.2s ease; 
                }
                .product-details:hover {
                    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
                    transform: scale(1.05);
                    background-color: rgb(224, 169, 197); 
                    color : white ;
                    }
          
.text-box {
position: relative; 
border: 3px solid rgb(220, 126, 201);
border-radius: 20px; 
padding: 20px; 
background-color: rgb(248, 243, 243); 
color: rgb(0, 0, 0);
width: 450px;
height: 300px;
font-family: 'Times New Roman', Times, serif; 
font-size: 20px;
text-align: center;
margin: 20px auto;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

left : 320px; 

} 

.tips-title {
    font-size: 40px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin-bottom: 10px; 
    position: relative;
    top : -180px;
 left : 750px;
    font-family: 'Times New Roman', Times, serif;
  } 
  .tips
  {
  margin-top: 0px;
  width: 500px;
    padding: 0px;
    font-size: 30px;
  border-radius: 8px;
    color: rgb(0, 0, 0);
    position: relative;
    left : 240px ;
   top :-90px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
  } 
  .tips:hover {
    text-decoration: none;
    border : 3px solid  rgb(210, 156, 194);
    box-shadow : 0 4px 8px 11px rgb(240, 210, 224);  
      } 
      .description-title {
        font-size:  40px;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
        color: rgb(180 , 100 , 160);
      margin-left: 60px;
        cursor : pointer;
      }

      .bouquet-description {
        font-size: 30px;
        color: rgb(0, 0, 0);
          margin-left: 60px;
        margin-top: 20px;
      display :block ; }
            
        .message 
  {
      width:600px ;
      height: 100vh; 
       display  :flex ;
      align-items: center;
      justify-content: center;
      
      
  }  
.cart {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color :black ; 
    width : fit-content;
    
  } 
    .cart :hover {
    color :white ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform:  all scale(1.05);
    background-color: rgb(224, 169, 197);
    transition: all 0.3s ease;   }

  .add
  {
  padding: 10px 60px;
  background: #ffffff;
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 25px;
  font-weight: 500;
  border-radius: 20px;
right : -110px;
bottom :250px;
  position :relative;
  }
.add  :hover
  {  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: 0.3s; 
    transform: scale(1.05); 
    background-color: rgb(224, 169, 197);
    border :rgb(250, 247, 247) 2px solid;
    color: #e3dae0;
  } 
  .popup
  {


background-color: rgb(255, 255, 255);
  border-radius: 10px;
  position: relative;


  transform: translate(-50%,-50%) scale(0.1) ; 
  text-align: center; 
  padding: 0 30px 30px; 
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
  }
  .open-popup
  {
  visibility: visible;
  top: -180px;
  transform: translate(-50%,-50%) scale(1);
}
.popup img
{
width: 200px;
margin-top: -70px;
position : relative ;
top : -50px;
}

.popup p
{
font-size:20px ;
color: rgba(53, 50, 50, 0.851);
}
.popup button
{
  width: 150px;
  height: 30px;
  font-size:20px ;
  background-color:rgb(151, 229, 164);
  border-radius: 15px;
  position :relative ; 
  left : -20px;
   margin-top: -50px
}
.success {
    font-size: 50px;
    color: rgb(0, 0, 0);
    margin-bottom: 10px; 
    font-family : 'Times New Roman', Times, serif;} 

    .reviews-title {
       font-size:  45px;
       font-family: 'Times New Roman', Times, serif;
       position :relative;
       top :40px;
       left : 550px ;
       color: rgb(180 , 100 , 160);
       cursor: pointer;
    }

    
    .customer-names {
      font-size: 25px;
      position: relative;
      top : 100px;
      left :70px; 
     font-weight: bold;
    }

    .verified { 
      color: green;
      font-size : 20px;
      top : 100px;
      position: relative;
      left :100px; 
    }
   .rating {
     position :relative ;
    top : 100px;
      font-size : 15px;
      left : 145px;
    

   } 

   .review {
      font-size: 25px;
      font-family: 'Times New Roman', Times, serif;
      display: block;
       margin-left: 55px;
      margin-top: 150px;

   }